@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #13ec37;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102213;
  --color-surface-dark: #152a18;
  --color-soft-green: #4c9a59;
  --color-accent-green: #4c9a59;
  --color-heatmap-low: #13ec37;
  --color-heatmap-mid: #facc15;
  --color-heatmap-high: #ef4444;
  --color-text-dark: #0d1b10;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased;
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    min-height: 100vh;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .active-tab {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}
